sql-jdbc-school/src/test/resources/schema.dtd

<!ELEMENT dataset (
    COURSE*,
    GROUP_1*,
    STUDENT*,
    STUDENTS_ON_COURSE*)>

<!ELEMENT COURSE EMPTY>
<!ATTLIST COURSE
    UUID CDATA #REQUIRED
    COURSE_NAME CDATA #REQUIRED
    COURSE_DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT GROUP_1 EMPTY>
<!ATTLIST GROUP_1
    UUID CDATA #REQUIRED
    GROUP_NAME CDATA #REQUIRED
>

<!ELEMENT STUDENT EMPTY>
<!ATTLIST STUDENT
    UUID CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    GROUP_UUID CDATA #IMPLIED
>

<!ELEMENT STUDENTS_ON_COURSE EMPTY>
<!ATTLIST STUDENTS_ON_COURSE
    STUDENT_UUID CDATA #REQUIRED
    COURSE_UUID CDATA #REQUIRED
>

